Flask==3.1.2
gunicorn==25.0.0
mysql-connector-python==9.5.0
python-dotenv==1.2.1
Flask-WTF==1.2.2
flask-talisman==1.1.0
flask-limiter==4.1.1
bcrypt==5.0.0
openpyxl==3.1.5

# Dev / testing
pytest
pytest-cov
